@mixin areaBorder($area) {
  grid-area: $area;
  // border: solid 1px black;
  margin: 10px;
  margin-left: 0;
  min-height: 100px;
}

#skill-item-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas:
    "header header"
    "progress notes"
    "taskList resources"
    "taskList resources"
    "taskList resources";

  .header {
    @include areaBorder(header);
  }
  .task-list-component {
    @include areaBorder(taskList);
  }

  .progress {
    @include areaBorder(progress);
  }
  .notes {
    @include areaBorder(notes); 
  }
  .resources {
    @include areaBorder(resources);  
    margin:0;
  }
}

@media (max-width: 1670px) {
  @mixin areaBorder($area) {
    grid-area: $area;
    margin: 10px 0;
    // margin-left: 0;
    min-height: 100px;
  }

  #skill-item-container {
    grid-template-areas:
      "header "
      "notes"
      "taskList"
      "resources";
    .header {
      @include areaBorder(header);
    }
    .task-list-component {
      @include areaBorder(taskList);
      max-width: 100%;
    }

    .progress {
      @include areaBorder(progress);
      display: none;
    }
    .notes {
      @include areaBorder(notes);
    }
    .resources {
      @include areaBorder(resources);
      max-width: 100%;
    }
  }
}
