.task-list-component {
  grid-area: tasksList;
  max-width: 45vw;
  min-height: 300px;
  button {
    margin-top: 10px;
  }
  .MuiTableCell-head {
    font-weight: 550;
  }
  .MuiTableCell-sizeSmall {
    padding: 5px;
  }
  .MuiTableCell-sizeSmall.MuiTableCell-paddingCheckbox {
    padding: 0 12px 0 14px;
  }
}

label[data-shrink="false"]
  // + .MuiInputBase-formControl
  .MuiInputBase-input::placeholder {
  opacity: 0 !important;
  display: block;
  vertical-align: middle;
}
