.list-component {
  max-width: 45vw;
  min-height: 300px;
  button {
    margin-top: 10px;
  }
  .MuiTableCell-head {
    font-weight: 550;
  }
  .MuiTableCell-sizeSmall {
    padding: 5px;
  }
  .MuiTableCell-sizeSmall.MuiTableCell-paddingCheckbox {
    padding: 15px 14px;
  }
  .MuiButtonBase-root, .MuiIconButton-root{
    margin:0;
  }
  .MuiInputBase-input{
    padding:6px 0 11px;
  }
  #date-picker-inline{
    font-size: 11px;
    padding-bottom: 17px;
  }
  .btnContainer{
    width:100%;
    text-align: right;
  }
}

label[data-shrink="false"]
  // + .MuiInputBase-formControl
  .MuiInputBase-input::placeholder {
  opacity: 0 !important;
  display: block;
  vertical-align: middle;
}
